@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

$button-hover: hsla(212, 92%, 66%, 0.39);
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%); //(graphic design text)
$dark-blue: hsl(198, 62%, 26%); //(photography text)
$dark-moderate-cyan: hsl(168, 34%, 41%); //(footer)
$footer-bg: hsl(168, 42%, 77%); //(footer-bg)

//neutral
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

@mixin changeFontUpper(){
    font-family: setFontFraucnces();   
    text-transform: uppercase;
}

@mixin makeCard(){
    width: 50%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;;
    gap: 2.5rem;

}

@mixin cardHead(){
    font-family: setFontFranuces();
    font-size: 2rem;
    width: 70%;
}
@mixin cardText(){
    width: 81%;
    font-family: setFontBrawl();
}

@mixin linksList(){
    width: 36%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
@mixin colorLinks($color){
    color: $color;
    text-decoration: none;
}
@function setFontFraucnces(){
    @return 'Fraunces';
}
@function setFontBrawl(){
    @return 'Barlow';
}