@import 'config';
@import 'button';
@import 'tab_responsive';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    // overflow-x: hidden;
}
.container{width: 100%;}
a:hover{cursor: pointer;}
.showcase{
    padding: 2.1rem 0;
    width: 100%;
    min-height: 84vh;
    font-family: setFontBrawl();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3.6rem;
    background-image: url(../images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    nav{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            @include linksList();

            li{
                a{
                    @include colorLinks($white);
                }
            }
        }
    }
    &-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        h1{
            font-weight: 900;
            font-size: 3rem;
            color: $white;
            word-spacing: 0.5rem;
            letter-spacing: 0.5rem;
            @include changeFontUpper()
        }
    }
}

#graphic{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-size: cover;
    h2,p{
        color: $dark-desaturated-cyan;
    }
}
#photography{
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: cover;
    h2,p{
        color:$dark-blue;
    }
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

    .side-by-side{
        display: flex;
        flex-wrap: wrap;
        gap: 0rem;

        .no-img-text{
            @include makeCard();
            h2{
                @include cardHead();
                color:$very-dark-desaturated-blue;
            }
            p{
                @include cardText();
                color: $dark-grayish-blue;
            }
            a{
                @include changeFontUpper();
                color: $very-dark-desaturated-blue;
                text-decoration: underline $yellow;
                text-decoration-thickness: 0.3rem; 
                
            }
            .colorchange{
                text-decoration-color: $soft-red;
            }
        }
        .img-container{
            width: 50%;
            height: 540px;
            img{
                width: 100%;
            }
        }
        .img-text{
            @include makeCard();
            justify-content: flex-end;
            padding-bottom: 4rem;
            align-items: center;
            text-align: center;

            h2{
                @include cardHead();
            }
            p{
                @include cardText();
            }
        }
    }
    .down-by-down{
        display: flex;
        flex-direction: column;
        align-items: center;

        .testimonials-outer{
            padding: 4rem 2rem;
            h3{
              @include changeFontUpper();
              font-size: 1.5rem;
              color: $grayish-blue;
              text-align: center;
            }
            .testimonials-inner{
                margin: 2.5rem auto;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .testimonial-card{
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    gap: 2rem;
                    align-items: center;
                    img{
                        width: 21%;
                        border-radius: 50%;
                    }
                    p{
                        font-family: setFontBrawl();
                        line-height: 1.5;
                        text-align: center;
                        width: 85%;
                        color: $dark-grayish-blue;
                    }
                    .credentials{
                        .name{
                            font-family: setFontFraucnces();
                            font-size: 1.3rem;
                            width: 100%;
                            color: $very-dark-desaturated-blue;
                        }
                        .position{
                            font-size: 0.9rem;
                            width: 100%;
                            color: $grayish-blue;
                        }
                    }
                }
            }

        }

        .image-show{
            display: flex;
            img{
                width: 25%;
            }
        }
    }
}
footer{
    background-color: $footer-bg;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    .footer-logo{
        width: 20%;
    }
    ul{
        @include linksList();
        justify-content: space-around;
        a{
            @include colorLinks($dark-moderate-cyan);
            font-family: setFontBrawl();
        }
        a:hover{
            color: $white;
        }
    }
    .icons-list{
        display: flex;
        width: 21%;
        justify-content: space-around;
        align-items: center;
    }
}