%btn{
    // width: 70%;
    width: 63%;
    border: solid 2px setColor($very-light-gray);
    font-family: setTextFont();
    font-size: 16px;
    border-radius: 3rem ;
    padding: 0.7rem 1.2rem;
}

.left-btn{
    @extend %btn;
    @include colorElement($bright-orange, $very-light-gray);
}
.mid-btn{
    @extend %btn;
    @include colorElement($dark-cyan, $very-light-gray);
}
.right-btn{
    @extend %btn;
    @include colorElement($very-dark-cyan, $very-light-gray);
}