 @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

$transparent-white: hsla(0, 0%, 100%, 0.75); //(paragraphs)
$very-light-gray: hsl(0, 0%, 95%); //(background, headings, buttons)

@mixin containerAtMid(){
    margin: 7rem auto;
}

@function setHeadFont(){
    @return 'Big Shoulders Display';
}

@function setTextFont(){
    @return 'Lexend Deca';
}

@function setColor($color){
    @return $color;
}

@mixin setBgColor($color){
    background-color: $color;
}

@mixin colorElement($color, $bg-color){
    background-color: $bg-color;
    color: $color;
}

