@media screen and (max-width: 1200px) {
    .slide-container{
        width: 93%;
        // min-height: 50vh;
        background-position: top 80px left 162px , top right;
    }
}

@media screen and (max-width: 900px) {
    body{
        background-size: 80%;
    }
    .slide-container{
        width: 95%;
        background-size: 9%, 75%;
        background-position: top 600px left 192px ,top 21px left 130px;
        .slides{
            flex-direction: column-reverse;
            justify-content: center;
            gap: 7rem;
            .text-container{
                left: 0px;
                width: 90%;
                gap: 0.5rem;
                .views{
                    text-align: center;
                }
                .credentials{
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                }
            }
            .img-container{
                width: 54%;
                .profile{
                    width: 95%;
                    margin: 0.5rem auto;
                }
                .slider-options{
                    bottom: 20px;
                    left: 75px;}
            }
        }
    }
    
}


@media screen and (max-width: 710px) {
    body{
        background-size: 60%;
    }
    .slide-container{
        background-size: 9%, 75%;
        background-position: top 480px left 192px ,top 21px left 100px;
        .slides{
            gap: 4rem;
            .text-container{
                gap: 0.7rem;
            }
            .img-container{
                .slider-options{
                    bottom: 20px;
                    left: 45px;}
            }
        }
    }
    
}
@media screen and (max-width: 710px) {
    body{
        background-size: 80%;
    }
    .slide-container{
        background-size: 9%, 95%;
        background-position: top 417px left 124px ,top 25px left 10px;
        .slides{
            gap: 4rem;
            .text-container{
                gap: 0.7rem;
                .views{
                    font-size: 23px;
                }
            }
            .img-container{
                width: 70%;
                .slider-options{
                    bottom: 20px;
                    left: 15px;}
            }
        }
    }
    
}